@import "tailwindcss";
body{
    background-color: #F8F9FA;
    height: 100vh;
}
@theme{
    --color-text: #A0AEC0;
    --color-main:#4FD1C5;
}
.invoice-2::-webkit-scrollbar{
    display: none;
}
.billing-content::-webkit-scrollbar{
    display: none;
}
.conver::-webkit-scrollbar{
    display: none;
}